@import '../abstracts/mixins.scss';
@import '../abstracts/variables.scss';
@import '../components/buttons.scss';
@import '../components/page_header.scss';

.page-header {
  background: url('../../images/unsplash/about-temp-cmp.jpg');
  background-position: center;
  background-size: cover;
}

.bio {
  margin-top: 4em;
  display: grid;

  @media screen and (min-width: $screen-lg-min) {
    max-width: 80%;
    grid-template-columns: 0.5fr 0.5fr;
    text-align: left;
  }
}

.bio-h3 {
  text-align: center;
  font-size: 2em;
}

.bio-img {
  display: block;
  margin: 0 auto;
  max-height: 400px; 
  max-width: 300px;
}

.bio-content {
  @include top-bottom-trim;
}

#about-angela {
  background: $sectionbgcolor1;
}

#about-steven {
  background: $sectionbgcolor2;
}
// $triangle-size: 15px;

// .section-start {
//   position: relative;
//   background: $background-color2;
//   color: $background-color1;
//   text-align: center;
// }

// .section-start::after {
//   content: "";
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   margin-left: -$triangle-size;
//   border-top: solid $triangle-size $background-color2;
//   border-left: solid $triangle-size transparent;
//   border-right: solid $triangle-size transparent;
// }

