@import '../abstracts/variables.scss';
@import '../components/buttons.scss';

.bio {
}
// might have to be global
.page-main {
  width: 100%;
  padding: 0 30px;

  h2 {
    width: 100%;
    text-align: center;
  }
}

img {
  max-width: 100%;
}

.page-header {
  position: relative;
  max-width: 100%;
}

.btn-header-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 0 2.5%;
  top: 65%;
  left: 50%;
}

#page-heading {
  position: absolute;
  color: $headerfontcolor;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// end of global
