@import '../components/page_header.scss';

.page-header {
  background: url('../../images/unsplash/contact-temp-cmp.jpg');
  background-position: center;
  background-size: cover;
}

#map {
  width: 100%;
  height: 400px;
  margin: 15px 0; 
}

// TODO: possible global
.header-phone-num {
  text-decoration: none;
  color: $headerfontcolor;
}

.contact-card {
  text-align: left;
  color: $generalfontcolor;

  h2 {
    text-align: left;
  }

  img {
    // TODO: adjust 
    max-height: 400px; 
    max-width: 300px;
  }
}

.icon-address {
  background-image: url('../../images/icons/map-pin.svg');
}

.icon-phone {
  background-image: url('../../images/icons/phone.svg');
}

.icon-fax {
  background-image: url('../../images/icons/printer.svg');
}

.icon-email {
  background-image: url('../../images/icons/mail.svg');
}


.icon {
  padding: 8px 8px;
  background-size: 100% 100%;
  margin-right: 0.5em;
}
