@import '../abstracts/variables.scss';
@import '../components/buttons.scss';
@import '../components/page_header.scss';

.page-header {
  background: url('../../images/unsplash/amanda-index-temp2.jpg');
  background-position: center;
  background-size: cover;
}

// header specific css
#header-cb-index {
  margin-bottom: 2em;
}

#cb-logo {
 font-size: 3em;
 font-weight: normal;
}

#header-cb-h1 {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px $headerfontcolor solid;
  font-size: 1.5em;
}

#header-cb-p {
  font-size: 0.75em;
}

.separator {
  font-size: smaller;
}

// testimonials css
.tns-nav {
  text-align: center;
  margin: 2.5px 0;
}

.tns-nav > [aria-controls] {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: none;
  padding: 0;
}

.tns-nav > .tns-nav-active { background: #717171; }

#testimonials-container {
  // background: blue;
}

.testimonial {
  margin: 10px;
  padding: 1em 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background-image: url('../../images/card.jpg');
  background-size: 100% 100%;
  // background: $testimonialcardcolor;
  color: $testimonialfontcolor;
  font-family: $testimonialcardfontfamily;
  font-weight: bold;
  // border: 1px grey solid;

  display: flex;
  flex-direction: column;
  justify-content: center;// text-align: center;
  align-items: center;

  p {
    margin: 10px 0;
    width: 80%;
  }
}

#testimonials-section {
}

@media screen and (min-width: $screen-sm-min) {
  #testimonials-section {
    margin: 0 auto;
    width: 400px;
  }
}

.testimonial-text {
  text-align: left;
}

.testimonial-author {
  text-align: right;
}

// .testimonial::after {
//   position: absolute;
//   content: "";
//   border: 1px rgba(255, 255, 255, 0.5) solid;
//   // top: 5%;
//   // left: 5%;
//   width: 95%;
//   height: 90%;
// }

// services css
#services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.service-block {
  flex-grow: 1;
  width: 48%;
  margin: 1.5% 1%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .service-block:hover {
//   opacity: 0.5;
// }

#s1 {
  background: red;
}

#s2 {
  background: blue;
}

#s3 {
  background: green;
}

#s4 {
  background: yellow;
}

// about css
.about-subsection {
  margin: 5vh 0;

  h3 {
    margin: 0;
  }
}
