@import '../abstracts/variables';
@import '../components/page_header.scss';

.page-header {
  background: url('../../images/unsplash/services-temp-cmp.jpg');
  background-position: center;
  background-size: cover;
}
