@import '../components/page_header.scss';
@import '../abstracts/variables';

.page-header {
  background: url('../../images/unsplash/testimonial-temp-cmp.jpg');
  background-position: center;
  background-size: cover;
}

#testimonial-container { 
}

.testimonial {
  margin: 0 auto;
  padding: 1em 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  // padding: 0.5em 0.75em;
  margin: 4vh auto;
  // background: $testimonialcardcolor;
  background-image: url('../../images/card.jpg');
  background-size: 100% 100%;
  // color: $testimonialfontcolor;
  font-family: $testimonialcardfontfamily;
  font-weight: bold;
  max-width: 400px;
}

@media screen and (min-width: $screen-lg-min) {
  .testimonial {
    display: inline-block;
  }

  #testimonial-container {
    column-count: 3;
    column-gap: 1em;
  }
}

// .testimonial::after {
//   position: absolute;
//   content: "";
//   border: 1px rgba(255, 255, 255, 0.5) solid;
//   top: 2.5%;
//   left: 2.5%;
//   // top: 0;
//   // left: 0;
//   width: 95%;
//   height: 90%;
// }

.testimonial-author {
  text-align: right;
}
