@import '../components/page_header.scss';
@import '../abstracts/variables';

.testimonial {
  padding: 0.5em 0.75em;
  margin: 2vh 0;
  background: $background-color2;

  p {
    color: white;
  }
}

.testimonial-author {
  text-align: right;
}
