@import '../components/page_header.scss';
@import '../abstracts/variables';

.page-header {
  background: url('../../images/unsplash/testimonial-temp-cmp.jpg');
  background-position: center;
  background-size: cover;
}

#testimonial-container { 
}

.testimonial {
  margin: 0 auto;
  padding: 1em 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 4vh auto;
  color: $testimonialfontcolor;
  font-family: $testimonialcardfontfamily;
  font-weight: bold;
  max-width: 400px;
}

.testimonial::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url('../../images/card-cmp.jpg');
  opacity: 0.7;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  z-index: -10;
}

@media screen and (min-width: $screen-lg-min) {
  .testimonial {
    display: inline-block;
  }

  #testimonial-container {
    column-count: 3;
    column-gap: 1em;
  }
}

.testimonial-author {
  text-align: right;
}
