@import '../abstracts/variables.scss';

.btn, .btn-main {
  padding: $btnpadding;
  font-size: $btnfontsize;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  -moz-box-shadow:  0px 10px 14px -7px #151515;
  -webkit-box-shadow:  0px 10px 14px -7px #151515;
  box-shadow: 0px 10px 14px -7px #151515;

  // colors
  color: $buttonfontcolor;
  background: $btncolor;
  // background: $btncolor;
  font-family: $btnfontfamily;
}

.btn-main {
  min-width: 120px;
  margin: 0 auto;
  margin-top: 1em;
}

.btn:hover, .btn-main:hover {
  background: darken($btncolor, 5%);
  // rgba(151,2,37,1);
}

.btn:active, .btn-main:active {
  position: relative;
  top: 1px;
}
