@import '../abstracts/variables.scss';
@import '../components/buttons.scss';

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 1em;
  color: $headerheadingfontcolor;
  font-family: $headerheadingfontfamily;
  text-align: center;

  @media screen and (min-width: $screen-xl-min) {
    height: 70vh
  }
}

.header-h1 {
  padding-bottom: 0.5em;
  margin: 0;
  position: relative;
}

.header-h1:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: fade-out($headerfontcolor, 0.4);
  animation: border-expand 1s 1;
}

@keyframes border-expand {
  0% { -webkit-transform: scaleX(0); transform: scaleX(0);}
  100% {-webkit-transform: scaleX(1); transform: scaleX(1);}
}

.header-content {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 0.5em 0;

  @media screen and (min-width: $screen-sm-min) {
    padding: 2em 0;
  }
}

.header-content-wrap {
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 475px;
  padding: 0 2em;

  @media screen and (min-width: $screen-lg-min) {
    max-width: 550px;
  }
}


.header-text-important {
  text-align: center;
  color: $headerimportantfontcolor;
  font-size: $headerimportantfontsize;
  font-family: $headerimportantfontfamily;
  margin-bottom: 1vh;
}

.header-text {
  text-align: center;
  color: $headerfontcolor;
  font-size: $headerfontsize;
  font-family: $headerimportantfontfamily;
}

.btn-header-container {
  margin: 0 auto;
}

.btn-header-container a:first-child {
  min-width: 120px;
  margin-right: 1em;

  @media screen and (min-width: $screen-sm-min) {
    margin-right: 2.5em;
  }
}

.btn-header-container a:last-child {
  min-width: 120px;
  margin-left: 1em;
  
  @media screen and (min-width: $screen-sm-min) {
    margin-left: 2.5em;
  }
}

