@import 'base/normalize.scss';
@import 'base/typography.scss';
@import 'layout/nav.scss';
@import 'layout/footer.scss';
@import 'abstracts/variables';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  a {
    text-decoration: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $background-color1;
  font-family: $generalfontfamily;
  line-height: 1.5;
  font-size: $fontgeneralsize;
  color: $generalfontcolor;
}

main {
  flex: 1;
}

// TODO: global css. refactor later when it makes sense
.page-main {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // padding: 0 $sidespacesmall;
  // margin: 0 auto;

  // @media screen and (min-width: $screen-sm-min) {
  //   width: 80%;
  // }
}

.section-content {
  margin: 0 auto;
  width: 90%;

  @media screen and (min-width: $screen-sm-min) {
    max-width: 800px;
  }
}

.page-main-section {
  padding: 1em 0;
  // background: $sectionbgcolor1;
  // padding: 0 2em 2em 2em;
  // margin-bottom: 2em;
}

.page-main-header {
  margin-top: 0;
}

.main-h2 {
  width: 100%;
  text-align: center;
  font-family: $genh2fontfamily;
  font-size: $genh2size;
  text-transform: uppercase;
}

section {
  img {
    width: 100%;
  }
}

// end of global
