@import 'base/normalize.scss';
@import 'base/typography.scss';
@import 'layout/nav.scss';
@import 'layout/footer.scss';
@import 'abstracts/variables';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $background-color1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-size: 18px;
}

main {
  flex: 1;
}

