@import 'abstracts/variables';

footer {
  display: flex;
  flex-direction: column;
  background: $footerbgcolor;
  color: $footerfontcolor;
  margin-top: 2em;
}

#footer-top {
  display: flex;
  flex-direction: column;
  margin: 2em 2em;
  font-size: $fontfootersize;
  font-family: $footerfontfamily;

  @media screen and (min-width: $screen-md-min) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
  }
}

#footer-big {
  // font-size: 18px;
}

@media screen and (min-width: $screen-xl-min) {
  #footer-big {
    flex: 0.35;
  }
}

.footer-heading {
  font-family: $footerfontheadingfamily;
  font-size: $fontfooterheadingsize;
  color: $footerfontheadingcolor;
}

.footer-list {
  display: inline-block;
  list-style: none;
  padding: 0;

  a {
    color: $footerfontcolor;
  }
}

#footer-bottom {
  flex: 1;
  margin-top: 10vh;
  padding: 1em 0;
  border-top: 1px $footerfontheadingcolor solid;
  text-align: center;
  font-size: 12px;
}
