@import 'abstracts/variables';

.call-now {
  position: -webkit-sticky;
  position: sticky;
  background: $accentcolor;
  text-align: center;
  color: $navfontcolor1;
  bottom: 0;
  font-family: $footerfontheadingfamily;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 1em 0;

  @media screen and (min-width: $screen-lg-min) {
    display: none;
  }
}

.phone-icon {
  padding: 16px 16px;
  background-size: 100% 100%;
  background-image: url('../images/icons/phone-sticky.svg');
  margin-right: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  background: $footerbgcolor;
  color: $footerfontcolor;
  padding-top: 0.5em;
  // margin-top: 2em;
}

#footer-top {
  display: flex;
  flex-direction: column;
  margin: 2em 2rem;
  font-size: $fontfootersize;
  font-family: $footerfontfamily;

  @media screen and (min-width: $screen-md-min) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
  }
}

#footer-big {
  // font-size: 18px;
}

@media screen and (min-width: $screen-xl-min) {
  #footer-big {
    flex: 0.35;
  }
}

.footer-heading {
  font-family: $footerfontheadingfamily;
  font-size: $fontfooterheadingsize;
  color: $footerfontheadingcolor;
}

.footer-list {
  display: inline-block;
  list-style: none;
  padding: 0;

  a {
    color: $footerfontcolor;
  }
}

.footer-social-icon {
  height: 30px;
  width: 30px;
  // margin: 0 1rem;
}

.footer-icons-container {
  display: flex;
  margin: 0 2rem;
}

#fb-icon {
  background: url('../images/icons/social/facebook.svg');
  background-size: 100% 100%;
}

#insta-icon {
  background: url('../images/icons/social/instagram.svg');
  background-size: 100% 100%;
  margin-left: 1em;
}

#footer-bottom {
  flex: 1;
  margin-top: 10vh;
  padding: 1em 0;
  border-top: 1px $footerfontheadingcolor solid;
  text-align: center;
  font-size: 12px;
}
