// TODO: only add the one you need not the whole thing...
$hamburger-animations: (stack);
@import "~delicious-hamburgers/scss/hamburgers";

nav {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-areas:
    'logo nav-burger'
    'nav-items nav-items';

  a {
    text-decoration: none;
    color: black;
  }
}

#logo {
  grid-area: logo;
}

#nav-btn {
  grid-area: nav-burger;
  justify-self: end;
  margin-right: 1em;
  padding-right: 0;
}

#nav-items-wrap {
  grid-area: nav-items;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
}

#nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 1em;
  padding: 1em 0;
}
