<p>
Angela Carter has been a trial attorney in Northern California for more than 25 years. She has practiced in a variety of areas of the law, including criminal defense, civil defense, juvenile law, employment law and personal injury. Over the past decade-and-a-half, most of her attention has been focused on defending the rights of people accused of crimes.
</p>

<p>
During the past 25 years, Angela has litigated many cases, ranging from misdemeanors such as driving under the influence, theft, spousal battery, assault, battery, drug crimes, and resisting arrest to very serious felonies, including every type of drug crime, battery with great bodily injury, kidnapping, crimes relating to  marijuana, firearm crimes of every type and homicide.
</p>

<p>
Angela evaluates every case individually, whether it is a low-level misdemeanor or a  three strike case. Searches are challenged, pretrial motions are brought, evidence is evaluated and every aspect of every case is scrutinized from arraignment through sentencing.  Alternatives to jail, such as rehabilitation, probation, work service and civil compromise have been obtained many times over the years.
</p>

<p>
Angela has a zealous, knowledgeable approach to every case she handles.  She also has the experience to back it up. Over the years, Angela has successfully litigated, resolved and obtained dismissal of many, many cases.
</p>

<p>
Angela's efforts are supported by expert witnesses and private investigators with a high level of experience and a track record of success to assist and to work on her cases as needed.
</p>

<p>
Angela received two undergraduate degrees at UC Irvine in 1990. She received her Juris doctor, law degree, in 1993 from Pepperdine University. She is a member in good standing with the California State Bar and is admitted to practice law in every Court in the state of California and the United States Supreme Court.
</p>

<p>
Angela has lived in Lake County for 24 years. She enjoys traveling, all manner of geology, and outdoor pursuits including kayaking, trail running and backpacking.
</p>
