<footer>
  <div id='footer-top'>
    <section id='footer-big'>
      <p class='footer-heading'>CARTER • BROWN LAW FIRM</p>
      <p>At <em>Carter Brown Law Firm</em>, we are dedicated to helping people facing all types of criminal charges and ensuring that our clients receive fair treatment. We are passionate about protecting our clients’ rights and upholding the United States Constitution. Our law firm handles felony, misdemeanor, DUI, juvenile and drug offense cases. We practice criminal defense throughout the counties of Lake, Mendocino, Napa, Sonoma, and the greater North Bay Area. When your freedom is at stake, hiring the right attorney is essential, and we are here to help!</p>
    </section>
    <section>
      <p class='footer-heading'>CONTACT</p>
      <div>
        <span class='footer-icon'></span>
        <span>435 N. Main Street Lakeport, CA 95457</span>
      </div>
      <div>
        <span class='footer-icon'></span>
        <a href='tel:+1-707-245-4727'>+1-707-245-4727</a>
      </div>
      <div>
        <span class='footer-icon'></span>
        <span>Call us anytime. 24 hours, 7 days a week</span>
      </div>
    </section>
    <section>
      <p class='footer-heading'>SERVICES</p>
      <ul class='footer-list'>
        <li>Criminal Defense Attorney</li>
        <li>Trial Attorney</li>
        <li>DUI Lawyer</li>
        <li>Domestic Violence Attorney</li>
      </ul>
    </section>
    <section>
      <p class='footer-heading'>MENU</p>
      <ul class='footer-list'>
        <a href="index.html"><li>Home</li></a>
        <a href="services.html"><li>Services</li></a>
        <a href="testimonials.html"><li>Testimonials</li></a>
        <a href="contact.html"><li>Contact</li></a>
        <a href="about.html"><li>About</li></a>
      </ul>
    </section>
  </div>
  <div class='footer-icons-container'>
    <a href='https://www.facebook.com/carterbrownlaw/' target=blank class='footer-social-icon' id='fb-icon'></a>
    <a href='https://instagram.com' target=blank class='footer-social-icon' id='insta-icon'></a>
  </div>
  <div id='footer-bottom'>
    <span>Copyright 2021 Carter • Brown Law </span>|
    <span>All Rights Reserved </span>|
    <span>Created by Stoyan Shukerov</span>
  </div> 
</footer>
<a href='tel: +1-707-245-4727' class='call-now'><span class='phone-icon'></span>Call Now</a>
