<footer>
  <div id='footer-top'>
    <section id='footer-big'>
      <p class='footer-heading'>CARTER BROWN LAW FIRM</p>
      <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </section>
    <section>
      <p class='footer-heading'>CONTACT</p>
      <div>
        <span class='footer-icon'></span>
        <span>435 N. Main Street Lakeport, CA 95564</span>
      </div>
      <div>
        <span class='footer-icon'></span>
        <span>+1-777-777-7777</span>
      </div>
      <div>
        <span class='footer-icon'></span>
        <span>Monday-Friday: 9:00 AM - 5:00 PM</span>
      </div>
    </section>
    <section>
      <p class='footer-heading'>SERVICES</p>
      <ul class='footer-list'>
        <li>Criminal Defense Attorney</li>
        <li>Trial Attorney</li>
        <li>DUI Lawyer</li>
        <li>Domestic Violence Attorney</li>
      </ul>
    </section>
    <section>
      <p class='footer-heading'>MENU</p>
      <ul class='footer-list'>
        <a href="index.html"><li>Home</li></a>
        <a href="services.html"><li>Services</li></a>
        <a href="testimonials.html"><li>Testimonials</li></a>
        <a href="contact.html"><li>Contact</li></a>
        <a href="about.html"><li>About</li></a>
      </ul>
    </section>
  </div>
  <div id='footer-bottom'>
    <span>Copyright 2019 Carter Brown Law </span>|
    <span>All Rights Reserved </span>|
    <span>Created by Stoyan Shukerov</span>
  </div> 
</footer>
