<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111383764-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111383764-2');
  </script>
  <meta charset="UTF-8">
  <meta name="description" content="Carter Brown Law Official Website">
  <meta name="author" content="Stoyan Shukerov">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#151515">
  <title>Carter • Brown Law</title>
</head>
