<nav role="navigation">
  <div id='logo-wrap'>
  <a href="index.html" id="logo">
    C<span id='logo-separator'> | </span>B
  </a>
  </div>
  <div id='nav-btn-wrap'>
    <button id='nav-btn' class="hamburger hamburger--stack" type="button">
      <div class="inner">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </button>
  </div>
  <div id="nav-items-wrap" class="items-closed">
    <ul id="nav-items">
      <a id="nav-item-index" href="/"><li>HOME</li></a>
      <a id="nav-item-services" href="/services"><li>SERVICES</LI></a>
      <a id="nav-item-testimonials" href="/testimonials"><li>TESTIMONIALS</li></a>
      <a id="nav-item-contact" href="/contact"><li>CONTACT</LI></a>
      <a id="nav-item-about" href="/about"><li>ABOUT</LI></a>
    </ul>
  </div>
</nav>

