<nav role="navigation">
  <a href="/" id="logo">
    <div>Carter Brown Law </div>
  </a>
  <button id='nav-btn' class="hamburger hamburger--stack" type="button">
    <div class="inner">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </button>
  <div id="nav-items-wrap" class="items-closed">
    <ul id="nav-items">
      <a id="nav-item-index" href="/"><li>Home</li></a>
      <a id="nav-item-testimonials" href="testimonials.html"><li>Testimonials</li></a>
      <a id="nav-item-contact" href="contact.html"><li>Contact</li></a>
      <a id="nav-item-about" href="about.html"><li>About</li></a>
      <a id="nav-item-services" href="services.html"><li>Services</li></a>
    </ul>
  </div>
</nav>

