<p>
<strong>Steven Brown</strong> is a fourth generation Lake County native who graduated from Kelseyville High in 2002. Steven attended William Penn University on a wrestling scholarship where he received his undergraduate degree. After graduating from William Penn in 2006, Steven returned to Lake County and began Law School at Empire College School of Law in Santa Rosa. Steven graduated cum laude from Empire Law School in 2009 and became a member of the State Bar of California in 2010.  Steven also became a certified mediator in 2009.
</p>

<p>
Since 2010, Steven has practiced in the areas of family law, criminal defense, landlord-tenant, personal injury, conservatorships, bail law and general civil litigation.  Steven’s primary areas of focus are family law (divorce, parentage, child custody, child and spousal support, asset division, domestic violence and civil harassment restraining orders), all manner of civil litigation, and criminal defense.
</p>

<p>
Steven is a member in good standing with the California State Bar and is admitted to practice before the Supreme Court of the State of California and all subordinate courts. Steven has been admitted to practice before the United States District Court for the Northern District of California.
</p>

<p>
Family law matters are unique as they require knowledge and experience in all areas of law and procedure. In addition, family law cases typically entail some of the most important and sensitive issues for parties. By keeping up on changes in the law and devoting his practice to all of the areas that come into play in family law cases, Steven has been able to competently represent clients in a wide variety of matters.
</p>

<p>
While Steven has established himself as a skilled litigator and trial attorney having served as lead counsel in numerous motion hearings and trials, he has also proven to be a top tier negotiator with the ability to often obtain favorable settlements saving clients both the cost and stress of courtroom battles.
</p>
