// background colors
$background-color1: rgba(234, 224, 213, 1);
$background-color2: rgba(34, 51, 59, 1);


// nav colors
$navbgcolor1: $background-color2;
$navbgcolor2: rgba(75, 90, 97, 1);

// font colors
$generalfontcolor: rgba(10, 9, 8, 1);
$buttonfontcolor: rgba(234, 224, 213, 1);
$headerfontcolor: rgba(234, 224, 213, 1);
$navfontcolor: rgba(198, 172, 143, 1);


// experimental colors
// $slickblackbrownish: rgba(10, 9, 8, 1);
// $coolbrown: rgba(94, 80, 63, 1);
