// background colors
$background-color1: rgba(234, 224, 213, 1);
$background-color2: rgba(34, 51, 59, 1);
$footerbgcolor: black;
// $sectionbgcolor1: complement($background-color1);
$sectionbgcolor1: darken($background-color1, 10%);
$sectionbgcolor2: darken($sectionbgcolor1, 10%);

// nav colors
$navbgcolor1: black;
// $navbgcolor1: rgba(242, 233, 228, 1);
// $navbgcolor1: rgba(10, 9, 8, 1);
$navbgcolor2: $background-color1;
// $navfontcolor: rgba(198, 172, 143, 1);
$hamburgercolor: rgba(234, 224, 213, 1);
// $navbgcolor2: rgba(75, 90, 97, 1);

// font colors
$generalfontcolor: rgba(10, 9, 8, 1);
$buttonfontcolor: rgba(234, 224, 213, 1);
$navfontcolor: black;
$navfontcolor1: rgba(234, 224, 213, 1);
$headerfontcolor: rgba(234, 224, 213, 1);
$headerheadingfontcolor: $headerfontcolor;
$headerimportantfontcolor: $headerfontcolor;
$footerfontcolor: white;
$footerfontheadingcolor: grey;
$logofontcolor: $headerfontcolor;
$testimonialfontcolor: #232732;

// font families
$generalfontfamily: Georgia, 'Times New Roman', Times, serif;
$genh2fontfamily: 'Oswald', 'Times New Roman', Times, serif;
$navfontfamily: 'Oswald', Georgia, 'Times New Roman', Times, serif;
$logofontfamily: 'PlayfairDisplay', 'Times New Roman', Georgia;
$headerheadingfontfamily: 'PlayfairDisplay', 'Times New Roman', Georgia;
$headerfontfamily: 'Lato', 'Times New Roman', Georgia;
$headerimportantfontfamily: 'Lato', 'Times New Roman', Georgia;
$footerfontfamily: Georgia, 'Times New Roman', Times, serif;
$testimonialcardfontfamily: 'ShadowsIntoLight', Georgia, 'Times New Roman', Times, serif;
$btnfontfamily: 'Oswald', Georgia, 'Times New Roman', Times, serif;

// font sizes
$logofontsize: 25px;
$fontgeneralsize: 18px;
$navfontsize: 16px;
$headerfontsize: 16px;
$headerimportantfontsize: 20px;
$genh2size: 2.2em;
$fontfootersize: 14px;
$fontfooterheadingsize: 18px;

// spacing
$sidespacesmall: 20px;

// buttons
$btnshadowcolor: black;
$btnfontsize: 18px;
$btnpadding: 0.5em 1em;
$btncolor: rgba(151,2,37,1);

// testimonials
// $testimonialcardcolor: rgb(209,177,138);

// experimental colors
$slickblackbrownish: rgba(10, 9, 8, 1);
$coolbrown: rgba(94, 80, 63, 1);
$btnred: rgba(151,2,37,1);
$accentcolor: $btnred;

// media query variables
$screen-xs-min: 320px;    // landscape phones
$screen-sm-min: 576px;    // landscape phones
$screen-md-min: 768px;    // tablets
$screen-lg-min: 992px;    // desktops
$screen-xl-min: 1200px;   // large desktops
